@using Microsoft.AspNetCore.Identity
@using EventiaWebapp.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eventia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/main-style.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Montserrat:wght@500&display=swap" rel="stylesheet">
  
</head>
<body class="content">
<header class="header-main">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Event" asp-action="Index">Eventia</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Event" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Event" asp-action="Events">Events</a>
                    </li>
                  
                    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Attendee")))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Event" asp-action="MyEvents">My Events</a>
                        </li>

                        <li class="nav-item">
                            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserAsync(User).Result.First_name!</a>
                        </li>
                        <li class="nav-item">
                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Event", new { area = "" })">
                                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                    }
                    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Organizer")))
                    {
                        //TODO Fixa klart meny för Organizer
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Event" asp-action="MyEvents">My Events</a>
                        </li>

                        <li class="nav-item">
                            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserAsync(User).Result.First_name!</a>
                        </li>
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            <a type="button" class="btn btn-success" class="nav-link text-dark" >Organize events</a>
                            <a type="button" class="btn btn-success" class="nav-link text-dark" >Add event</a>
                        </div>
                        <li class="nav-item">
                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Event", new { area = "" })">
                                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                            </form>
                        </li>
                      
                       

                    }
                   
                </ul>
                
            </div>
        </div>
    </nav>
</header>

    <main role="main" class="main-content container pt-4">
        @RenderBody()
    </main>
<footer class="main-footer">
    <div class="container">
        &copy; 2022 Eventia  - <a asp-controller="" asp-action=""></a>
    </div>
</footer>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>
