@model EventiaWebapp.Models.Event

@if (Context.Request.Method == "GET")
{
    <div class="card" style="width: 18rem;">
    
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Description</p>
            <p>@Model.Place</p>
            <p>@Model.Adress</p>
            <p>@Model.Organizer</p>
            <p>@Model.Date</p>
            <p>@Model.Spots_available</p>
            
            <form method="post">
              
                <input type="submit" class="btn btn-primary" asp-controller="Event" asp-action="JoinEvent" asp-route-id="@Model.Id" value="Join event">
            </form>
          
        </div>
    </div>

}
@if (Context.Request.Method == "POST")
{
    
    <div class="card" style="width: 18rem;">
    
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Description</p>
            <p>@Model.Place</p>
            <p>@Model.Adress</p>
            <p>@Model.Organizer</p>
            <p>@Model.Date</p>
            <p>@Model.Spots_available</p>
            
            <form method="post">
              
                <input type="submit" class="btn btn-primary" asp-controller="Event" asp-action="JoinEvent" asp-route-id="@Model.Id" value="Join event">
            </form>
          
        </div>
    </div>
    <h2>Successfyly joined @Model.Title. See you there </h2>
    <div>
        <a type="submit" class="btn btn-primary">View more events</a>    
        <a type="submit" class="btn btn-primary">View your events</a> 
    </div>
         
}
 
