@model EventiaWebapp.Models.Event

@if (Context.Request.Method == "GET")
{

    <div class="card-wrapper">
        <div class="card">
    
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">Description: @Model.Description</p>
                <p>Place: @Model.Place</p>
                <p>Adress: @Model.Adress</p>
                <p>Organizer: @Model.Organizer.Name</p>
                <p>Date: @Model.Date.ToString("MM/dd/yyyy")</p>
                <p>Spots avaliable: @Model.Spots_available</p>
            
                <form method="post">
              
                    <input type="submit" class="btn btn-success" asp-controller="Event" asp-action="JoinEvent" asp-route-id="@Model.Id" value="Join event">
                </form>
          
            </div>
        </div>
    </div>
    

}
@if (Context.Request.Method == "POST")
{
    <div class="card-wrapper">
        <div class="card">
    
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">Description: @Model.Description</p>
                <p>Place: @Model.Place</p>
                <p>Adress: @Model.Adress</p>
                <p>Organizer: @Model.Organizer.Name</p>
                <p>Date: @Model.Date.ToString("MM/dd/yyyy")</p>
                <p>Spots avaliable: @Model.Spots_available</p>
            
                <form method="post">
                    <input type="submit" class="btn btn-success" asp-controller="Event" asp-action="JoinEvent" asp-route-id="@Model.Id" value="Join event">
                </form>
          
            </div>
        </div>
        <div class="confirmation-info pt-5">
            <h2>Successfylly joined @Model.Title event. See you there! </h2>
            <div>
                <a type="submit" class="btn btn-info" asp-controller="Event" asp-action="Events">View more events</a>    
                <a type="submit" class="btn btn-info" asp-controller="Event" asp-action="MyEvents">View your events</a> 
            </div>

        </div>
    </div>
    
   
}
 
