@using EventiaWebapp.Models
@using EventiaWebapp.Services
@model List<User>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h2>Your events</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Is Organizer</th>

    </tr>
    </thead>
    <tbody>
   
    @{


        @foreach (var userItem in @Model)
        {
           
            <tr>
                <td>@userItem.UserName</td>
                <td>@userItem.Email</td>
                @if (userItem.IsOrganizer)
                {
                    <td><input type="checkbox" checked="true"/></td>
                }
                else
                {
                    <td>
                        <form  class ="form" method="post" asp-controller="Admin" asp-action="ManageUsers" asp-route-id="@userItem.UserName">
                            <input id="@userItem.Id" class="checkBox" asp-for="@userItem.IsOrganizer" type="checkbox" onchange="checkboxChecked(event)"/>
                       
                        </form>

                    </td>
                   
                    
                }

            </tr>
          
        }





    }
    </tbody>
</table>

@section renderSection{

    <script>
        function checkboxChecked(event) {
           
                    var target = event.target;
                    console.log(target);

                    if (target.className === "checkBox") {
                        console.log(target);

                        if (target.checked) {

                          var closest = target.closest(".form");
                            console.log(closest);
                            closest.submit();

                        }
                    }


        }
    </script>
   

}